NODE_ENV=production
HOST=0.0.0.0
PORT=4000
BASE_PATH=""
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nageco"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/nageco"
CORS_ORIGIN="https://nageco.com,https://www.nageco.com"
LOG_DIR="logs"
LOG_TO_STDOUT="true"
JWT_SECRET="f-!fjfloid,402f]ywnkks0...f;kusfnufnoldfjoldfijmf!"
JWT_EXPIRES_IN="8h"
ADMIN_EMAIL="admin@nageco.com"
ADMIN_PASSWORD="Pass@pass1"
